/*  GENERAL  */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
:root{
	--clr-black: #000000;
	--clr-red: #e23636;
	--clr-orange: #f78f3f;
	--clr-blue: #518cca;
	--clr-gray: #504a4a;
	--clr-blue-dark: #325880;
}
body{
	font-family: 'Plus Jakarta Sans', sans-serif;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 100%;
	max-width: 1250px;
	margin: 0 auto;
}
/*  NAVIGATION BAR  */
nav{
	height: 60px;
}
/* color white en nav */
nav i{
	color: white;
	cursor: pointer;
}
.nav-logo{
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* margin solo */
.nav-logo a{
	margin-left: 15px;
	margin-right: 15px;
}
.nav-logo i, .nav-search i{
	margin-right: 15px;
	margin-left: 15px;
	font-size: 1.2rem;
}
.links{
	position: absolute;
	top: 60px;
	transform: translateX(-100%); /**/
	background: linear-gradient(rgba(74, 76, 80,0.6),rgba(74, 76, 80,0.6)), url('../assets/nav-background.jpg'); 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	transition: transform 300ms;
	z-index: 20;
}
.show{
	transform: translateX(0);
}
.links ul{
	list-style: none;
	padding: 10px; /**/
}
.links ul li {
	margin: 15px 20px;
	padding: 10px;
	font-size: 1.2rem;
}
.links ul li a{
	text-decoration: none;
	color: white;
	font-weight: 600;
}
.links ul li a:hover{
	color: #ffc8c8;
}
.nav-search{
	display: none;
}
.search-btn{
	color: white;
	background: var(--clr-blue);
	padding: 10px 14px;
	border:none; cursor: pointer;
	font-size: 0.9rem;
}
.search-btn:hover{
	background: var(--clr-blue-dark);
}

@media screen and (min-width: 550px){
	.links{
		width: 360px;
		background-position: center;
	}
}

@media screen and (min-width: 800px){
	.nav-search{
		display: block;
	}
	nav{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.links{
		position: static;
		height: 100%;
		width: auto;
		flex-grow: 1;
		transform: translateX(0);
	}
	.links ul{
		padding: 0;  /**/
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	.links ul li {
		margin: 0 16px; padding: 0; /**/
		font-size: 1.1rem;
	}
	.nav-logo i, .links ul li:last-child{
		display: none;
	}

}
/*   FOOTER  */
footer{
	padding: 20px;
	background-color: var(--clr-black);
	color: white;
	text-align: center;
}
footer div:first-child{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}
footer div:first-child img{
	margin-bottom: 15px;
}
footer p a{
	color: rgb(201, 106, 106);
	text-decoration: none;
}
.media-links{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	margin-top: 10px;
}
.media-links i{
	margin: 0 6px;
	color: white;
}
.media-links i:hover{
	color: rgb(201, 106, 106);
}
@media screen and (min-width: 750px){
	footer div:first-child{
		flex-direction: row;
	}
	footer div:first-child div{
		margin-left: 20px;
	}
	footer div:first-child img{
		margin-right: 20px;
		margin-bottom: 0;
	}
}